.no-task {
  box-sizing: border-box;
  max-width: 800px;
  height: 40vh;
  max-height: 500px;
  margin: 0 auto;
  border: 2px dashed rgb(223, 223, 223);
  font-size: 32px;
  color: rgb(223, 223, 223);
  display: none;
  justify-content: center;
  align-items: center;
}

@media (max-width: 424px) {
  .no-task {
    font-size: 24px;
  }
}
